* {
  margin: 0;
}

body {
  position: fixed;
}

button:focus {
  outline: none;
}

button, svg, {
  padding: 0;
}

p::-moz-selection, a::-moz-selection {
  background: #0000ff;
  color: white;
}
p::selection, a::selection {
  background: #0000ff;
  color: white;
}

body {
  overflow-x:hidden;
  cursor:url('/static/colorwave-1.svg'), auto !important;
}

#app{
  height: 100%;
  width: 100%;
}
