.header {
  width: 100%;
  background-color: black;
  height: auto;
  position: fixed;
  z-index: 500;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  display: inline-block;
  height: 52px;
  .top-logo {
    height: 30px;
    // padding: 10px 10px 10px 30px;
    float: left;
  }
  .top-text {
    padding: 7.5px 10px 0 15px;
    display: inline-block;
  }
  #todaysDate {
    color: white;
    font-family: $Arial;
    font-size: 16px;
    padding: 16px 30px 16px 20px;
    font-weight: bold;
    top: 0;
    right: 0;
    background: black;
    position: absolute;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
  }
}

/* Dropdown Button */
.dropbtn {
    background-color: black;
    color: white;
    border: none;
    cursor: url("/static/cursor/cursor-16-01.svg"), auto;
    font-family: $Arial;
    // font-weight: bold;
    margin-left: 10px;
    font-size: 16px;
    padding: 10px 20px 10px 20px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}
.dropbtn.dropbtn-nest {
  padding: 0;
  width: auto;
  height: 100%;
}
.dropdown.one .dropbtn {
  font-weight: bold;
}

/* Dropdown button on hover & focus */
.dropbtn:active, .dropbtn:focus  {
    background-color: #0000FF;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: absolute;
  display: inline-block;
  float: left;
  background-color: black;
  z-index: 500;
  &:after {
    content: "";
    width: 10px;
    height: 52px;
    position: absolute;
    top: 0;
    right: -10px;
    // color: black;
    display: inline-block;
    background: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0));
  }
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 10px;
}

/* Links inside the dropdown */
.dropdown-content .nest {
    color: white;
    // padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: $Arial;
    font-size: 16px;
    width: auto;
    overflow: visible;
    background-color: black;
    position: relative;
}
button.nest {
    padding: 12px 16px;
    width: 100% !important;
    display: block;
    text-align: left;
    border: none !important;
}
button.nest:hover, button.nest:focus  {
  background-color: blue !important;
}
.nest-one:hover > .nest-two-final {
  display: block !important;
}
.nest-one:hover > button.nest {
  background-color: blue !important;
}

.nest > a {
  display: block;
  height: 100%;
  width: 100%;
  color: white;
  text-decoration: none;
}

.dropdown-content .nest.nest-two-final {
  position: absolute;
  top: 0;
  left: 100%;
  padding: 0;
  width: 100%;
  transition: all .5s ease-in;
}
.dropdown-content .nest-two:hover .nest-two-final, .dropdown-content .nest-two:focus .nest-two-final {
  display: block !important;
  opacity: 1 !important;
}

.dropdown-content .nest.nest-two-final > .nest {
  width: 100% !important;
}

.dropdown-content > .nest:last-child, .dropdown-content > .nest:nth-child(4) {
  border-top: solid 2px rgba(255,255,255,.7);
}

.nest-two:hover + .nest-two-final {
  display: block !important;
}

.menu-arrow {
  position: relative;
  float: right;
  font-size: 10px !important;
  margin-right: -10px;
  padding-top: 2.5px;
  opacity: .9;
}

/* Change color of dropdown links on hover */
.dropdown-content span:hover,.dropdown-content span:focus  {background-color: #0000FF}

.day {
  cursor:url('/static/day.svg'), auto !important;
}

.night {
  cursor:url('/static/night.svg'), auto !important;
}
