// fonts
$Georgia: Georgia, serif;
$Arial: Arial, sans-serif;


// colors
$blue: #0000ff;
$green: #00FF80;
$red: #FF0080;
$yellow: #FFFF00;
$black: #000000;
$white: #FFFFFF;
$grey: #ccc;
$lightGrey: #DEDEDE;
$darkGrey: #5D5D5D;
