.header {
  cursor: url(../static/img/thumb.jpg), auto;
  width: 100%;
  background-color: black;
  height: auto;
  position: absolute;
  z-index: 500;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  display: inline-block;
  height: 52px;
  .top-logo {
    height: 30px;
    padding: 10px 10px 10px 30px;
    float: left;
  }
  #todaysDate {
    color: white;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    padding: 17px 30px;
    font-weight: bold;
    top: 0;
    right: 0;
    background: black;
    position: absolute;
  }
}
